doctype html 
html 
    head 
        title #{pageTitle}

        //- nhúng boostap 
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")

        //- css
        //- Bởi vì khi nó triển khai ra file html thì nó chỉ có 2 file thôi
        //- nên là dùng / luôn cx được
        link(rel="stylesheet", href="/css/style.css")    
    body 
        include ../partials/header.pug

        block main 

        include ../partials/footer.pug

        //- nhúng boostap 
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct") 

        //-
        script(src="/js/script.js") 